.form-page {
  position: relative;
  min-height: 100%;
  height: 100%;
  overflow-y: auto;
}
.form {
  padding: 20px;
}
.form-info {
  margin-bottom: 24px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  margin-bottom: 10px;
  font-weight: normal;
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #ccc;
}
.input-group {
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-group .form-control {
  border: 0;
}
.name {
  color: #666;
}
.form-group .form-control {
  height: 36px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  top: -3px;
}
.label {
  border-radius: 10px;
}
.label-High {
  background-color: red;
}
.label-Medium {
  background-color: orange;
}
.label-Low {
  background-color: green;
}

.btn-cancel {
  background-color: #eee;
  color: #666;
}
.common-issue {
  margin-right: 85px;
}

.btn-browse {
  display: block;
  width: 75px;
  height: 36px;
  float: right;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eee;
  color: #666;
}

.close-icon {
  display: inline-block;
  width: 26px;
  line-height: 36px;
  font-size: 14px;
  text-align: center;
  color: #666;
  cursor: pointer;
}
.close-icon:hover {
  color: #999;
}

.file-name {
  margin-top: 10px;
  color: #999;
  font-size: 14px;
}


.footer {
  position: fixed;
  text-align: right;
  width: 100%;
  padding: 20px;
  bottom: 0;
  border-top: 1px solid #ccc;
  font-size: 0;
  background-color: #fff;
}

/* overwrite the typeahead style */
.twitter-typeahead {
  display: block!important;
}
.twitter-typeahead:before {
  content: " ";
  display: table;
}
.twitter-typeahead:after {
  content: " ";
  display: table;
  clear: both;
}
.tt-menu {
  border: 1px solid #ddd;
  border-radius: 2px;
  left: -1px!important;
  right: -27px;
  background-color: #fff;
}
.tt-suggestion {
  padding: 10px;
  margin: 0;
}

.tt-suggestion:hover {
  cursor: pointer;
  background-color: #eee;
}

.tt-suggestion.tt-cursor {
  background-color: #eee;
}

/* utils */
.red {
  color: #f00;
}
